* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

button {
  border: none;
}

header {
  display: flex;
  height: 55px;
  background-color: #ffffff;
  width: 100%;
}

header p {
  padding: 17px 20px;
}

nav {
  margin-left: auto;
  padding: 17px 20px;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin-right: 5px;
}

input[type="text"] {
    width: 200px;
    height: 18px;
    padding-right: 50px;
}

input[type="submit"] {
    margin-left: -50px;
    height: 20px;
    width: 50px;
    background: blue;
    color: white;
    border: 0;
}

main { 
  display: flex;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-end;
  width: 20%;
  height: 725px;
  text-align: center; 
  transition: background .1s cubic-bezier(0.4, 0.01, 0.58, 1),box-shadow .1s ease-in-out;
}

.color {
  background-color: none; 
}

section div {
  margin-top: auto;
  height: 48px;
  width: 48px;
  background-image: url('./assets/lock-open.svg');
  transition: opacity .5s ease-in-out;
}

.closed {
  background-image: url('./assets/lock.svg');
}

section p {
  margin: 20px;
}